
/*
=====================================================
  NAVBAR COMPONENTE TODO
=====================================================
*/
.navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background-color: #222; 
  color: #fff; 
  padding: 2px 25px; 
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #444; 
}

/*
======================================================
  NAVBAR COMPONENTES DA ESQUERDA
======================================================  
*/
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo-img {
  height: 50px;
}

.navbar-brand-name {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}

.navbar-brand-name:hover {
  color: #aaa;
  transition: color 0.3s ease;
}


/*
======================================================
  NAVBAR COMPONENTES DA DIREITA
======================================================  
*/
.navbar-main-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-main-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.navbar-main-links a:hover {
  color: #aaa;
}



/*
------------------------------------------------------
  NAVBAR COMPONENTES DA DIREITA
------------------------------------------------------ 
*/

.navbar-cart-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-cart-link:hover {
  color: #aaa;
}

.navbar-login-button-custom {
  background-color: #FFF;
  color: #000;
  border-color: #000; 
  padding: 6px 12px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.navbar-login-button-custom:hover {
  background-color: #aaa;
  border-color: #000;
}
